@{
    ViewData["Title"] = "Home Page";
}

<h2>Awesome Text Messaging App!</h2>
<hr />
@Html.ActionLink("View all Messages", "GetMessages")
<br />
@Html.ActionLink("Send a new message", "SendMessage")

<script>
    setTimeout(contactPrompt, 3000);
    function contactPrompt() {
        if ("@ViewData.ContainsKey("NumberSentTo")" !== "False") {
            var number = "@ViewData["NumberSentTo"]";
            number = number.substring(6,number.length);
            var contacts = JSON.parse(localStorage.getItem("contacts"));
            if (!contacts[number]) {
                var contactName = prompt("Enter a name to save your contact");
                if(contactName) {
                    contacts[number] = contactName;
                    localStorage.setItem("contacts", JSON.stringify(contacts));
                }
            }
        }
    }
</script>

<h1>@ViewData["NumberSentTo"]</h1>