@{
    ViewData["Title"] = "Home Page";
}

<h2>Awesome Text Messaging App!</h2>
<hr />
@Html.ActionLink("View all Messages", "GetMessages")
<br />
@Html.ActionLink("Send a new message", "SendMessage")

<script>
    if ("@ViewData.ContainsKey("NumberSentTo")" !== "False") {
        console.log("@ViewData["NumberSentTo"]");
    }
</script>

<h1>@ViewData["NumberSentTo"]</h1>